<!DOCTYPE html>
<div id="logoContainer" class="flex justify-center items-center w-full max-w-[100px] mx-auto h-[100px] border-2 border-dashed border-gray-300 p-2" data-element="logo">
    <img id="logoImage" src="" alt="Logo" style="max-width: 100%; max-height: 100%;">
</div>
<div id="instituicaoContainer" class="text-center font-bold text-xl text-[12pt] font-['Times New Roman'] mt-4 border-2 border-dashed border-gray-300 p-2 transition-all duration-300 focus:border-blue-500" contenteditable="true" data-placeholder="Nome da Instituição" data-element="instituicao">
    Nome da Instituição
</div>
<div class="h-[108pt]"></div>
<div id="temaContainer" class="text-center text-lg mb-8 border-2 border-dashed border-gray-300 p-2 transition-all duration-300 focus:border-blue-500" contenteditable="true" data-placeholder="Tema do Trabalho" data-element="tema">
    Tema do Trabalho
</div>
<div class="h-[108pt]"></div>
<div class="flex flex-col justify-center mb-auto mt-5">
    <div id="autorContainer" class="block text-center text-lg leading-[22.5pt] text-[12pt] font-['Times New Roman'] mb-[9pt] border-2 border-dashed border-gray-300 p-2 transition-all duration-300 focus:border-blue-500" contenteditable="true" data-placeholder="Nome do Autor" data-element="autor">
        <span class="font-bold">Autor:</span> Nome do Autor
    </div>
    <div id="supervisorContainer" class="block text-center text-lg leading-[22.5pt] text-[12pt] font-['Times New Roman'] border-2 border-dashed border-gray-300 p-2 transition-all duration-300 focus:border-blue-500" contenteditable="true" data-placeholder="Nome do Supervisor" data-element="supervisor">
        <span class="font-bold">Supervisor:</span> Nome do Supervisor
    </div>
</div>
<div id="deliverContainer" class="flex justify-center mt-auto" data-element="local">
    <span id="dataContainer" class="block text-center text-lg leading-[22.5pt] text-[12pt] font-['Times New Roman'] border-2 border-dashed border-gray-300 p-2 transition-all duration-300 focus:border-blue-500" contenteditable="true" data-placeholder="Local, Mês Ano">
        Local, Mês Ano
    </span>
</div>