<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Monogenius - Poupe Tempo, Evite Plágio</title>
    <style>
        :root {
            --navy: #0B2459;
            --light-blue: #8AB6D6;
            --moss-green: #829460;
            --dark-gray: #4F4F4F;
            --white: #FFFFFF;
            --light-yellow: #FDF7C3;
            --dark-orange: #C97637;
        }
    </style>
	
	<link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png">
	<link rel="manifest" href="/assets/img/favicon/site.webmanifest">  	
</head>
<body class="bg-[--white] dark:bg-gray-800">
    <!-- HERO Section -->
    <div class="flex flex-wrap min-h-screen">
        <div class="w-full md:w-2/3 p-8">
            <div class="text-4xl font-bold text-[--navy] mb-4">
                Monogenius
            </div>
            <h1 class="text-4xl md:text-6xl font-bold text-[--navy] mb-4">Poupe Tempo, Evite Plágio</h1>
            <p class="text-xl mb-8 text-[--dark-gray]">
                Imagine-se na reta final do seu curso universitário. As noites mal dormidas, os prazos apertados e a pressão para entregar uma monografia impecável estão tomando conta da sua vida. Você se vê cercado por pilhas de livros, anotações desorganizadas e aquele temido verificador de plágio que nunca parece colaborar.
            </p>
            <p class="text-xl mb-8 text-[--dark-gray]">
                Agora, imagine uma ferramenta totalmente automatizada que transforma esse caos em tranquilidade. Com Monogenius, você pode:
            </p>
            <ul class="mt-4 space-y-4 text-[--dark-gray] mb-8">
                <li class="flex items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-[--light-blue] mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                    <span class="font-bold">Criar monografias de alta qualidade em minutos</span>
                </li>
                <li class="flex items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-[--light-blue] mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                    <span class="font-bold">Verificar plágio automaticamente</span>
                </li>
                <li class="flex items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-[--light-blue] mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                    <span class="font-bold">Utilizar templates personalizáveis</span>
                </li>
            </ul>
            <div class="mb-8">
                <h2 class="text-3xl font-bold text-[--navy] mb-4">Junte-se à nossa lista de espera</h2>
                <p class="text-[--dark-gray] mb-4">Seja o primeiro a ser notificado quando o Monogenius for ao ar! Inscreva-se com seu e-mail abaixo:</p>
                <div class="mt-6 bg-transparent border rounded-md dark:border-gray-700 focus-within:border-[--light-blue] focus-within:ring focus-within:ring-[--light-blue] dark:focus-within:border-[--light-blue] focus-within:ring-opacity-40">
                    <form class="flex flex-col md:flex-row">
                        <input type="email" id="email" placeholder="Insira seu endereço de e-mail" class="flex-1 h-10 px-4 py-2 m-1 text-gray-700 placeholder-gray-400 bg-transparent border-none appearance-none dark:text-gray-200 focus:outline-none focus:placeholder-transparent focus:ring-0" />
                        <button type="button" class="h-10 px-4 py-2 m-1 text-[--white] transition-colors duration-200 transform bg-[--navy] rounded-md hover:bg-[--light-blue] focus:outline-none focus:bg-[--light-blue]">
                            INSCREVER-SE
                        </button>
                    </form>
                </div>
                <p class="text-sm text-[--dark-gray]">(Prometemos enviar apenas e-mails incríveis e úteis!)</p>
            </div>
        </div>
        <div class="hidden lg:block lg:w-1/3">
            <img src="/assets/img/banner.webp" alt="Leafs" class="w-full h-full object-cover">
        </div>
    </div>
    <!-- End HERO Section -->
	
	
	<!--Footer-->	
<footer class="bg-[--navy] text-[--white] flex flex-col items-center justify-center p-6">
    <div class="flex flex-col md:flex-row items-center justify-center mb-4">
        <a href="/terms" class="text-sm font-normal hover:underline mx-2 md:mx-4">Termos de Serviço</a>
        <a href="/privacy" class="text-sm font-normal hover:underline mx-2 md:mx-4">Política de Privacidade</a>
        <a href="/about" class="text-sm font-normal hover:underline mx-2 md:mx-4">Sobre Nós</a>
    </div>
    <div class="text-sm text-center text-[--light-blue]">
        &copy; 2024 Monogenius. Todos os direitos reservados.
    </div>
</footer>
	<!--Footer-->	
</body>
</html>