<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login com Google</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.16/tailwind.min.css">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="login.js" defer></script>
	<link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png">
	<link rel="manifest" href="/assets/img/favicon/site.webmanifest">  	
</head>
<body class="bg-gray-100 flex justify-center items-center h-screen">
<div class="h-screen w-screen bg-gray-400">

    <!-- modal -->
    <div
        class="fixed grid place-items-center backdrop-blur-sm top-0 right-0 left-0 z-50 w-full inset-0 h-modal h-full justify-center items-center">
        <div class="relative container m-auto px-6">
            <div class="m-auto md:w-7/12">
                <div class="rounded-xl bg-white dark:bg-gray-800 shadow-xl">
                    <div class="p-8">
                        <div class="space-y-4 flex justify-center items-center">
							<h2 class="text-2xl text-cyan-900 dark:text-white font-bold">
								Monogenius
							</h2>
                        </div>
						<form action='/auth/google'>
							<div class="mt-10 grid space-y-4">
								<button type='submit'
									class="group h-12 px-6 border-2 border-gray-300 rounded-full transition duration-300 hover:border-blue-400 focus:bg-blue-50 active:bg-blue-100">
									<div class="relative flex items-center space-x-4 justify-center">
										<img src="https://www.svgrepo.com/show/475656/google-color.svg"
											class="absolute left-0 w-5" alt="google logo">
										<span
											class="block w-max font-semibold tracking-wide text-gray-700 dark:text-white text-sm transition duration-300 group-hover:text-blue-600 sm:text-base">Continue
											with Google
										</span>
									</div>
								</button>
							</div>
						</form>
                        <div class="mt-14 space-y-4 py-3 text-gray-600 dark:text-gray-400 text-center">
                            <p class="text-xs">By proceeding, you agree to our
                                <a href="/terms" class="underline">Terms of Use</a>
                                and confirm you have read our
                                <a href="/privacy" class="underline">Privacy and Cookie Statement</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>