<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Política de Privacidade - Monogenius</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        :root {
            --navy: #0B2459;
            --light-blue: #8AB6D6;
            --moss-green: #829460;
            --dark-gray: #4F4F4F;
            --white: #FFFFFF;
            --light-yellow: #FDF7C3;
            --dark-orange: #C97637;
        }
    </style>
	<link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png">
	<link rel="manifest" href="/assets/img/favicon/site.webmanifest">  	
</head>
<body class="bg-[--white] text-[--dark-gray]">
    <header class="bg-[--navy] text-[--white] py-4">
        <nav class="container mx-auto flex justify-between items-center">
            <a href="/" class="text-2xl font-bold">Monogenius</a>
            <ul class="flex space-x-4">
                <li><a href="/" class="hover:text-[--light-blue]">Início</a></li>
                <!-- <li><a href="#" class="hover:text-[--light-blue]">Recursos</a></li> -->
                <li><a href="/about" class="hover:text-[--light-blue]">Sobre Nós</a></li>
                <!-- <li><a href="#" class="hover:text-[--light-blue]">Contato</a></li> -->
            </ul>
        </nav>
    </header>

    <main class="container mx-auto py-8">
        <section>
            <h1 class="text-4xl font-bold text-[--navy] mb-4 text-center">Política de Privacidade</h1>
			<p class='text-xl text-[--navy] mb-2 text-center'>Data de atualização: <strong>[08/06/2024]</strong></p>
            <h2 class="text-2xl font-bold text-[--navy] mb-2">1. Introdução</h2>
            <p class="text-lg mb-4">Bem-vindo ao Monogenius! Estamos comprometidos em proteger a sua privacidade. Esta política de privacidade explica como coletamos, utilizamos e protegemos suas informações pessoais ao usar nossos serviços.</p>

            <h2 class="text-2xl font-bold text-[--navy] mb-2">2. Coleta de Informações</h2>
            <h3 class="text-xl font-bold text-[--navy] mb-2">2.1 Informações que Coletamos</h3>
            <ul class="list-disc list-inside mb-4">
                <li class="mb-2"><strong>Informações Pessoais:</strong> Nome, endereço de e-mail, número de telefone, e outras informações de contato.</li>
                <li class="mb-2"><strong>Informações de Uso:</strong> Dados sobre como você utiliza nosso site e serviços, incluindo endereço IP, tipo de navegador, páginas visitadas, e duração da visita.</li>
                <li class="mb-2"><strong>Informações de Pagamento:</strong> Detalhes de pagamento para processar suas transações de forma segura.</li>
            </ul>

            <h3 class="text-xl font-bold text-[--navy] mb-2">2.2 Como Coletamos as Informações</h3>
            <ul class="list-disc list-inside mb-4">
                <li class="mb-2"><strong>Formulários de Registro:</strong> Quando você se inscreve em nossos serviços.</li>
                <li class="mb-2"><strong>Cookies e Tecnologias de Rastreamento:</strong> Para melhorar sua experiência de navegação.</li>
                <li class="mb-2"><strong>Comunicação Direta:</strong> Informações fornecidas por você em e-mails, chats, ou outras formas de comunicação.</li>
            </ul>

            <!-- Restante do conteúdo -->
            <h2 class="text-2xl font-bold text-[--navy] mb-2">3. Uso das Informações</h2>
            <h3 class="text-xl font-bold text-[--navy] mb-2">3.1 Finalidade do Uso</h3>
            <ul class="list-disc list-inside mb-4">
                <li class="mb-2"><strong>Para Fornecer e Melhorar os Serviços:</strong> Usamos suas informações para operar, manter, e melhorar os nossos serviços.</li>
                <li class="mb-2"><strong>Para Comunicação: </strong> Enviar atualizações, newsletters, e responder às suas perguntas.</li>
                <li class="mb-2"><strong>Para Segurança:</strong> Detectar e prevenir atividades fraudulentas e proteger nossos usuários.</li>
            </ul>	
			
            <h3 class="text-xl font-bold text-[--navy] mb-2">3.2 Compartilhamento de Informações</h3>
            <ul class="list-disc list-inside mb-4">
                <li class="mb-2"><strong>Com Terceiros:</strong>  Apenas com provedores de serviço que ajudam na operação de nossos serviços (por exemplo, processamento de pagamentos).</li>
                <li class="mb-2"><strong>Com Autoridades Legais:</strong> Quando exigido por lei ou para proteger nossos direitos e segurança.</li>
            </ul>	
			
            <h2 class="text-2xl font-bold text-[--navy] mb-2">4. Proteção das Informações</h2>
            <h3 class="text-xl font-bold text-[--navy] mb-2">4.1 Medidas de Segurança</h3>
            <ul class="list-disc list-inside mb-4">
                <li class="mb-2"><strong>Tecnologias de Criptografia:</strong> Para proteger os dados durante a transmissão.</li>
                <li class="mb-2"><strong>Acesso Restrito:</strong> Apenas funcionários autorizados têm acesso às suas informações pessoais.</li>
            </ul>
		
            <h3 class="text-xl font-bold text-[--navy] mb-2">4.2 Armazenamento de Dados</h3>
            <ul class="list-disc list-inside mb-4">
                <li class="mb-2"><strong>Local de Armazenamento:</strong> Armazenamos seus dados em servidores seguros.</li>
                <li class="mb-2"><strong>Tempo de Retenção:</strong> Mantemos suas informações pelo tempo necessário para cumprir os propósitos descritos nesta política.</li>
            </ul>	
			
            <h2 class="text-2xl font-bold text-[--navy] mb-2">5. Seus Direitos</h2>
            <h3 class="text-xl font-bold text-[--navy] mb-2">5.1 Acesso e Atualização</h3>
            <ul class="list-disc list-inside mb-4">
                <li class="mb-2"><strong>Direito de Acesso:</strong> Você pode solicitar uma cópia das informações pessoais que temos sobre você.</li>
                <li class="mb-2"><strong>Direito de Correção:</strong> Você pode corrigir ou atualizar suas informações pessoais a qualquer momento.</li>
                <li class="mb-2"><strong>Para Segurança:</strong> Detectar e prevenir atividades fraudulentas e proteger nossos usuários.</li>
            </ul>	
			
            <h3 class="text-xl font-bold text-[--navy] mb-2">5.2 Exclusão de Dados</h3>
            <ul class="list-disc list-inside mb-4">
                <li class="mb-2"><strong>Direito de Ser Esquecido:</strong> Você pode solicitar a exclusão de suas informações pessoais, sujeito a certas limitações legais.</li>
            </ul>	
			
            <h2 class="text-2xl font-bold text-[--navy] mb-2">6. Cookies</h2>
            <h3 class="text-xl font-bold text-[--navy] mb-2">6.1 O que são Cookies</h3>
            <ul class="list-disc list-inside mb-4">
                <li class="mb-2"><strong>Definição:</strong> Cookies são pequenos arquivos de texto armazenados no seu dispositivo para coletar informações padrão de registro na internet e comportamento dos visitantes.</li>
            </ul>		
			
            <h3 class="text-xl font-bold text-[--navy] mb-2">6.2 Como Usamos Cookies</h3>
            <ul class="list-disc list-inside mb-4">
                <li class="mb-2"><strong>Para Melhorar a Experiência do Usuário:</strong> Cookies nos ajudam a entender como você usa nosso site e personalizar sua experiência.</li>
            </ul>		
			
            <h3 class="text-xl font-bold text-[--navy] mb-2">6.3 Gerenciamento de Cookies</h3>
            <ul class="list-disc list-inside mb-4">
                <li class="mb-2"><strong>Configurações do Navegador:</strong> Você pode configurar seu navegador para não aceitar cookies. No entanto, alguns recursos do nosso site podem não funcionar corretamente como resultado.</li>
            </ul>		
			
            <h2 class="text-2xl font-bold text-[--navy] mb-2">7. Alterações nesta Política</h2>
            <h3 class="text-xl font-bold text-[--navy] mb-2">7.1 Atualizações</h3>
            <ul class="list-disc list-inside mb-4">
                <li class="mb-2"><strong>Avisos de Alterações:</strong> Qualquer alteração na nossa política de privacidade será publicada nesta página. Recomendamos revisar esta página periodicamente para se manter informado sobre nossas práticas de privacidade.</li>
            </ul>		
			
            <h2 class="text-2xl font-bold text-[--navy] mb-2">8. Contato</h2>
            <h3 class="text-xl font-bold text-[--navy] mb-2">8.1 Fale Conosco</h3>
            <ul class="list-disc list-inside mb-4">
                <li class="mb-2"><strong>Informações de Contato:</strong> Se você tiver dúvidas sobre esta política de privacidade ou sobre nossas práticas de privacidade, entre em contato conosco em <a href="mailto:monogenius@gmail" class='font-semibold italic'>monogenius@gmail.com</a>.</li>
            </ul>				
			
        </section>
    </main>

    <footer class="bg-[--navy] text-[--white] flex flex-col items-center justify-center p-6">
        <div class="flex flex-col md:flex-row items-center justify-center mb-4">
            <a href="/terms" class="text-sm font-normal hover:underline mx-2 md:mx-4">Termos de Serviço</a>
            <a href="/privacy" class="text-sm font-normal hover:underline mx-2 md:mx-4">Política de Privacidade</a>
            <a href="/about" class="text-sm font-normal hover:underline mx-2 md:mx-4">Sobre Nós</a>
        </div>
        <div class="text-sm text-center text-[--light-blue]">
            &copy; 2023 Monogenius. Todos os direitos reservados.
        </div>
    </footer>
</body>
</html>