<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Termos de Serviço - Monogenius</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        :root {
            --navy: #0B2459;
            --light-blue: #8AB6D6;
            --moss-green: #829460;
            --dark-gray: #4F4F4F;
            --white: #FFFFFF;
            --light-yellow: #FDF7C3;
            --dark-orange: #C97637;
        }
    </style>
	<link rel="apple-touch-icon" sizes="180x180" href="/static/assets/img/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/static/assets/img/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/static/assets/img/favicon/favicon-16x16.png">
	<link rel="manifest" href="/static/assets/img/favicon/site.webmanifest">  	
</head>
<body class="bg-[--white] text-[--dark-gray]">
    <header class="bg-[--navy] text-[--white] py-4">
        <nav class="container mx-auto flex justify-between items-center">
            <a href="/" class="text-2xl font-bold">Monogenius</a>
            <ul class="flex space-x-4">
                <li><a href="/" class="hover:text-[--light-blue]">Início</a></li>
                <!-- <li><a href="#" class="hover:text-[--light-blue]">Recursos</a></li> -->
                <li><a href="/about" class="hover:text-[--light-blue]">Sobre Nós</a></li>
                <!-- <li><a href="#" class="hover:text-[--light-blue]">Contato</a></li> -->
            </ul>
        </nav>
    </header>

    <main class="container mx-auto py-8">
        <section>
            <h1 class="text-4xl font-bold text-[--navy] mb-4 text-center">Termos de Serviço</h1>
			<p class='text-xl text-[--navy] mb-2 text-center'>Data de atualização: <strong>[08/06/2024]</strong></p>

            <h2 class="text-2xl font-bold text-[--navy] mb-2">1. Introdução</h2>
            <p class="text-lg mb-4">Bem-vindo ao Monogenius! Ao usar nossos serviços, você concorda com os seguintes termos e condições. Por favor, leia atentamente.</p>

            <h2 class="text-2xl font-bold text-[--navy] mb-2">2. Definições</h2>
            <ul class="list-disc list-inside mb-4">
                <li class="mb-2"><strong>Monogenius:</strong> Refere-se à nossa empresa e aos serviços oferecidos por nós.</li>
                <li class="mb-2"><strong>Usuário:</strong> Qualquer pessoa que utiliza nossos serviços.</li>
                <li class="mb-2"><strong>Serviços:</strong> Refere-se a todos os serviços oferecidos pelo Monogenius, incluindo nosso site e outras plataformas.</li>
            </ul>

            <h2 class="text-2xl font-bold text-[--navy] mb-2">3. Uso dos Serviços</h2>
            <h3 class="text-xl font-bold text-[--navy] mb-2">3.1 Concordância</h3>
            <p class="text-lg mb-4">Ao acessar ou usar nossos serviços, você concorda em cumprir e estar vinculado a estes Termos de Serviço.</p>
            <h3 class="text-xl font-bold text-[--navy] mb-2">3.2 Conta de Usuário</h3>
            <p class="text-lg mb-4">Você deve fornecer informações precisas e completas ao criar uma conta e manter a confidencialidade de sua senha.</p>

            <h2 class="text-2xl font-bold text-[--navy] mb-2">4. Privacidade</h2>
            <h3 class="text-xl font-bold text-[--navy] mb-2">4.1 Política de Privacidade</h3>
            <p class="text-lg mb-4">Sua privacidade é importante para nós. Consulte nossa <a href='/privacy' class='font-semibold text-[--navy]'>Política de Privacidade</a> para informações detalhadas sobre como coletamos, utilizamos e protegemos suas informações pessoais.</p>

            <h2 class="text-2xl font-bold text-[--navy] mb-2">5. Limitação de Responsabilidade</h2>
            <h3 class="text-xl font-bold text-[--navy] mb-2">5.1 Exclusão de Garantias</h3>
            <p class="text-lg mb-4">Nossos serviços são fornecidos "como estão" e "como disponíveis". Não garantimos que os serviços serão ininterruptos ou livres de erros.</p>
            <h3 class="text-xl font-bold text-[--navy] mb-2">5.2 Limitação de Danos</h3>
            <p class="text-lg mb-4">Em nenhum caso seremos responsáveis por quaisquer danos indiretos, incidentais, especiais, consequenciais ou punitivos, resultantes do uso ou incapacidade de usar nossos serviços.</p>

            <h2 class="text-2xl font-bold text-[--navy] mb-2">6. Contato</h2>
            <h3 class="text-xl font-bold text-[--navy] mb-2">6.1 Informações de Contato</h3>
            <p class="text-lg mb-4">Se você tiver alguma dúvida sobre estes Termos de Serviço, entre em contato conosco em <a href='mailto:monogenius@gmail.com' class='font-semibold italic'>monogenius@gmail.com</a>.</p>
        </section>
    </main>

    <footer class="bg-[--navy] text-[--white] flex flex-col items-center justify-center p-6">
        <div class="flex flex-col md:flex-row items-center justify-center mb-4">
            <a href="/terms" class="text-sm font-normal hover:underline mx-2 md:mx-4">Termos de Serviço</a>
            <a href="/privacy" class="text-sm font-normal hover:underline mx-2 md:mx-4">Política de Privacidade</a>
            <a href="/about" class="text-sm font-normal hover:underline mx-2 md:mx-4">Sobre Nós</a>
        </div>
        <div class="text-sm text-center text-[--light-blue]">
            &copy; 2023 Monogenius. Todos os direitos reservados.
        </div>
    </footer>
</body>
</html>