<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
	<script src="/static/assets/js/common.js"></script>
	<script src="//code.tidio.co/mwu2j13oujaafzownf2hemd6v6mfeyfl.js" async></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<title>Monogenius - Dashboard</title>
	<link rel="apple-touch-icon" sizes="180x180" href="/static/assets/img/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/static/assets/img/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/static/assets/img/favicon/favicon-16x16.png">
	<link rel="manifest" href="/static/assets/img/favicon/site.webmanifest">  	
	<script>		
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());
	gtag('config', 'G-PTD2W9YS10');

	</script>
	
</head>
<body class="bg-gray-100 font-sans flex flex-col min-h-screen">
    <header class="bg-white shadow">
        <nav class="container mx-auto px-6 py-4 flex items-center justify-between">
            <div class="flex items-center">
                <a href="/c/dashboard" class="text-xl font-bold text-gray-800">Monogenius</a>
            </div>
            <div class="flex items-center">
                <a href="/c/plagiarism" class="text-gray-600 hover:text-gray-800 mx-4">Verificador de Plágio</a>
                <a href="/c/template" class="text-gray-600 hover:text-gray-800 mx-4">Templates</a>
                <a href="/c/profile" class="text-gray-600 hover:text-gray-800 mx-4">Perfil</a>
				<button id="suporte-btn" class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded-full ml-4">
					Suporte
				</button>				
            </div>
        </nav>
    </header>	

	<main class="container mx-auto px-6 py-8 flex-grow">
		<h1 class="text-3xl font-bold mb-6">Atualizações Recentes</h1>
		<% if (updates.length > 0) { %>
			<% updates.forEach(update => { %>
				<div class="bg-white shadow-md text-justify rounded-lg p-6 mb-6">
					<p class="text-2xl text-gray-500 font-bold mb-4"><%= new Date(update.date).toLocaleDateString('pt-BR') %></p>
					<h2 class="text-xl font-semibold mb-4"><%= update.title %></h2>
					<% update.sections.forEach(section => { %>
						<div class="mb-4">
							<h3 class="text-lg font-semibold mb-2"><%= section.subTitle %></h3>
							<p class="text-gray-700"><%= section.description %></p>
						</div>
					<% }) %>
				</div>
			<% }) %>
		<% } else { %>
			<p class="text-gray-700">Não há atualizações disponíveis no momento.</p>
		<% } %>
	</main>

    <footer class="bg-gray-800 text-white py-6 mt-auto">
        <div class="container mx-auto px-6 flex justify-between items-center">
            <p>&copy; 2024 Monogenius</p>
            <div>
                <a href="/terms" class="hover:text-gray-400 mx-2">Termos de Serviço</a>
                <a href="/privacy" class="hover:text-gray-400 mx-2">Política de Privacidade</a>
                <a href="/about" class="hover:text-gray-400 mx-2">Sobre Nós</a>
            </div>
        </div>
    </footer>
</body>
</html>