<!DOCTYPE html>
<div id="match-div" class="hidden bg-white rounded-lg shadow-lg p-6 max-w-3xl w-full">
  <div class="flex items-start justify-between mb-4">
    <h3 class="text-lg font-medium text-gray-900">Matches Encontrados</h3>
    <button id="close-modal-matches" type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg p-1.5 ml-auto inline-flex items-center">
      <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
      </svg>
    </button>
  </div>
  <div id="modal-content" class="text-gray-700 space-y-2"></div>
</div>
	<div id="feedback-modal-plagiarism" class="fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full hidden">
		<div class="relative top-20 mx-auto p-5 border w-96 shadow-lg rounded-md bg-white">
			<h3 class="text-lg font-bold text-gray-900 mb-4" id="modal-title-plagiarism">Seu feedback</h3>
			<p class="mb-4">Por que você <span id="feedback-type-plagiarism" class="font-semibold"></span> deste conteúdo?</p>
			<select id="feedback-reason-plagiarism" class="w-full p-2 mb-4 border rounded">
				<option value="">Selecione uma razão</option>
				<option value="precisao">Precisão da detecção</option>
				<option value="velocidade">Velocidade da verificação</option>
				<option value="facilidade">Facilidade de uso</option>
				<option value="detalhes">Nível de detalhes nos resultados</option>
				<option value="comparacao">Qualidade das comparações</option>
				<option value="interface">Interface do usuário</option>
				<option value="outros">Outros</option>
			</select>
			<textarea id="feedback-other-plagiarism" class="w-full p-2 mb-4 border rounded hidden" placeholder="Por favor, explique..."></textarea>
			<input type="hidden" id="functionality-plagiarism" value="plagiarism">
			<div class="flex justify-end">
				<button id="submit-feedback-plagiarism" class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600">Enviar</button>
				<button id="closeFeedback-modal-plagiarism" class="ml-2 px-4 py-2 bg-gray-300 text-gray-800 rounded hover:bg-gray-400">Fechar</button>
			</div>
		</div>
	</div>	
	
    <div id="modal" class="fixed top-0 left-1/2 transform -translate-x-1/2 z-50 invisible">
        <div class="bg-white rounded-lg shadow-lg p-4 max-w-sm mx-auto my-4">
            <div class="flex items-start justify-between mb-2">
                <div class="flex items-center">
                    <svg id="modal-icon" class="w-6 h-6 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                    <h3 id="modal-title" class="text-lg font-medium text-gray-900"></h3>
                </div>
                <button id="close-modal" type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg p-1.5 ml-auto inline-flex items-center">
                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                    </svg>
                </button>
            </div>
            <p id="modal-message" class="text-gray-700"></p>
        </div>
    </div>
	
	<div id="overlay" class="fixed inset-0 flex items-center justify-center z-50 hidden">
		<div class="animate-spin rounded-full h-32 w-32 border-t-2 border-b-2 border-green-600"></div>
	</div>
    <main class="container mx-auto px-6 py-8">
        <h1 class="text-3xl font-bold text-gray-800 mb-6">Verificador de Plágio</h1>
        <div class="bg-white shadow-md rounded-lg p-6">
            <form method="POST">
                <div class="mb-4">
                    <label class="block text-gray-700 font-bold mb-2" for="text-input">
                        Texto a ser verificado
                    </label>
                    <textarea class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="text-input" rows="5" placeholder="Cole ou digite o texto aqui"></textarea>
					<div class="font-semibold text-right text-gray-600 text-sm">
						<!-- <span id="word-count">Limit: 0 / 500 palavras</span> - -->
						<span id="word-count">0 palavras</span> -
						<span id="char-count">Total Caracteres: 0</span>
					</div>					
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 font-bold mb-2" for="file-input">
                        Ou selecione um arquivo
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="file-input" name="file-input" type="file" accept=".doc,.docx,.pdf,.txt">
                </div>
                <div class="flex justify-center">
                    <button type="button" id='result-btn' class="bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                        Verificar Plágio
                    </button>
                </div>
            </form>
        </div>
		<div id="resultado" class="hidden bg-white shadow-md rounded-lg p-6 mt-6">
			<h2 class="text-xl font-bold text-gray-800 mb-4">Resultado</h2>
			<div class="grid grid-cols-2 gap-4 mb-4">
				<div class="bg-blue-100 p-4 rounded-lg">
					<h3 class="text-lg font-semibold text-blue-800">Plágio na Web</h3>
					<p id="percentPlagiarism" class="text-3xl font-bold text-blue-600"></p>
					<p class="text-sm text-blue-700">Plágio</p>
				</div>
				<div class="bg-green-100 p-4 rounded-lg">
					<h3 class="text-lg font-semibold text-green-800">Fontes</h3>
					<p id="sourceCount" class="text-3xl font-bold text-green-600"></p>
					<p class="text-sm text-green-700">Fontes encontradas</p>
				</div>
			</div>
			<div class="mb-4">
			  <h3 class="text-lg font-semibold text-gray-800 mb-2">Correspondências na Web</h3>
			  <div id="matches" class="text-gray-700"></div>
			  <div class="flex justify-between items-center">
				<button id="reopen-modal" class="mt-2 bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded">
				  Exibir Matches
				</button>
				<a href="/c/paraphrase" class="mt-2 bg-green-500 hover:bg-green-600 text-white px-4 py-2 rounded">
				  Parafrasear
				</a>
			  </div>
			</div>
			<div>
				<h3 class="text-lg font-semibold text-gray-800 mb-2">Fontes</h3>
				<ul id="sources" class="list-disc list-inside text-gray-700"></ul>
			</div>
			<div class="mt-4">
				<h3 class="text-lg font-semibold text-gray-800 mb-2">Citações</h3>
				<ul id="citations" class="list-disc list-inside text-gray-700"></ul>
			</div>
			<div class="flex justify-between items-center mt-4">
				<div class="">
					<button id="like-btn-plagiarism" class="bg-green-500 text-white hover:bg-green-600 px-4 py-2 rounded-l">
						<i class="fas fa-thumbs-up mr-2"></i>Gostei
					</button>
					<button id="dislike-btn-plagiarism" class="bg-red-500 text-white hover:bg-red-600 px-4 py-2 rounded-r">
						<i class="fas fa-thumbs-down mr-2"></i>Não Gostei
					</button>
				</div>
			</div>		
		</div>
    </main>